---
import BaseLayout from "../../layouts/base.astro";
import Search from "../../components/Search.svelte";
---

<BaseLayout title="Pianolatron Search" theme="blue">
  <main id="content">
    <Search client:only="svelte" />
  </main>
</BaseLayout>
