:root {
  --navigator-width: 40px;

  // Lightest possible grey that (on white) still produces
  // a 4.5:1 contrast ratio as specified by WCAG 2.1
  // https://www.w3.org/TR/WCAG21/#contrast-minimum
  --light-grey: #767676;

  // https://identity.stanford.edu/design-elements/color/primary-colors/
  --cardinal-red: #8c1515;
  --cardinal-red-light: #b83a4b;
  --cardinal-red-dark: #820000;
  --white: #ffffff;
  --black: #2e2d29;
  --black-90: #43423e;
  --black-80: #585754;
  --black-70: #6d6c69;
  --black-60: #767674;
  --black-50: #979694;
  --black-40: #ababa9;
  --black-30: #c0c0bf;
  --black-20: #d5d5d4;
  --black-10: #eaeaea;
  --cool-grey: #53565a;
}
