#loading {
  background-color: rgba(white, 0.4);
  color: var(--primary-accent);
  font-size: 1.4em;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  text-align: center;
  text-shadow: 0px 0px 8px white;
  top: 0;
  width: 100%;
  z-index: 9;

  div {
    font-size: 10px;
    height: 80px;
    margin: max(15%, 100px) auto 10px;
    text-align: center;
    width: 100px;

    span {
      animation: pulse 1.2s infinite ease-in-out;
      background-color: var(--primary-accent);
      border-radius: 0px 20px 0px 20px;
      box-shadow: 0px 0px 10px 3px white;
      display: inline-block;
      height: 100%;
      width: 12px;

      &:nth-child(2) {
        animation-delay: -1.1s;
      }

      &:nth-child(3) {
        animation-delay: -1s;
      }

      &:nth-child(4) {
        animation-delay: -0.9s;
      }

      &:nth-child(5) {
        animation-delay: -0.8s;
      }
    }
  }
}

@keyframes pulse {
  0%,
  40%,
  100% {
    transform: scaleY(0.6);
  }
  20% {
    transform: scaleY(1);
  }
}
