$primary-typeface: "Barlow", sans-serif;
$secondary-typeface: $primary-typeface;

$cloud: #dad7cb; // Stanford's "cloud"
$cardinal: #8c1515; // "cardinal"

@forward "./z-index";

@mixin background {
  background: linear-gradient(
    var(--background-angle),
    var(--background-darker) 0%,
    var(--background-color) 25%,
    var(--background-color) 75%,
    var(--background-darker) 100%
  );
  background-attachment: fixed;
  background-position: center;
}

@mixin button {
  background-color: var(--primary-accent);
  border-radius: 0.25em;
  border: 0.1em solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0.35em 0.8em;
  transition: all 0.2s;

  &:hover {
    color: var(--primary-accent);
    border-color: var(--primary-accent);
    background-color: #ffffff;
  }

  &:disabled {
    color: var(--primary-accent-semiopaque);
    border-color: var(--primary-accent-semiopaque);
    background-color: lightgray;
    cursor: default;
  }
}
