@use "sass:color";
@use "./sass-globals" as *;

:root {
  --background-color: #{$cloud};
  --background-darker: #{color.adjust($cloud, $lightness: -15%)};
  --primary-accent: #{$cardinal};
  --primary-accent-semiopaque: #{color.adjust($cardinal, $alpha: -0.5)};
  --background-angle: 75deg;
}

[data-theme="blue"] {
  --background-color: aliceblue;
  --background-darker: hsl(208, 100%, 90%);
  --primary-accent: #296da5;
  --primary-accent-semiopaque: #{color.adjust(steelblue, $alpha: -0.5)};
}

[data-theme="white"] {
  --background-color: white;
  --background-darker: white;
  --primary-accent: #006bb8;
  --primary-accent-semiopaque: #{color.adjust(steelblue, $alpha: -0.5)};
}

[data-theme="green"] {
  --primary-accent: darkolivegreen;
  --primary-accent-semiopaque: #{color.adjust(darkolivegreen, $alpha: -0.5)};
}

[data-theme="grey"] {
  --background-color: gainsboro;
  --background-darker: hsl(0, 0%, 71%);
  --primary-accent: darkslategrey;
  --primary-accent-semiopaque: #{color.adjust(darkslategrey, $alpha: -0.5)};
}
