[data-tooltip] {
  display: block;
  position: relative;

  &::before,
  &::after {
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 5px);
    transition: 0.2s ease-out;
    visibility: hidden;
  }

  &::before {
    background-color: hsla(0, 0%, 20%, 0.9);
    border-radius: 3px;
    bottom: 100%;
    color: #fff;
    content: attr(data-tooltip);
    left: 50%;
    line-height: 1.2;
    margin-bottom: 5px;
    max-width: 250px;
    min-width: 70px;
    padding: 7px;
    position: absolute;
    text-align: center;
    transition: 0.2s ease-out;
    white-space: pre-line;
    width: max-content;
  }

  &::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    bottom: 100%;
    content: " ";
    font-size: 0;
    left: 50%;
    line-height: 0;
    position: absolute;
    width: 0;
  }

  &:hover::before,
  &:hover::after {
    opacity: 1;
    transform: translate(-50%, 0);
    visibility: visible;
  }
}
