---
import BaseLayout from "../../layouts/base.astro";
import Search from "../../components/Search.svelte";
import StanfordHeader from "../../layouts/stanfordHeader.astro";
import StanfordSubheader from "../../layouts/stanfordSubheader.astro";
import StanfordFooter from "../../layouts/stanfordFooter.astro";
import SkipLink from "../../ui-components/SkipLink.svelte";
---

<BaseLayout title="Pianolatron Search" theme="blue">
  <SkipLink />
  <StanfordHeader />
  <StanfordSubheader />
  <main id="content">
    <Search client:only="svelte" />
  </main>
  <StanfordFooter />
</BaseLayout>
