---
import Footer from './footer.astro'
const {title} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <style global lang="scss">
      @import "../styles/base";
      @import "../styles/theme";
      @import "../styles/loader";
      @import "../styles/hole-highlighting";
      @import "../styles/overlay-buttons";
    </style>
    <script>
      const { theme } = JSON.parse(window.localStorage.getItem("userSettings")) || {};
      theme && document.documentElement.setAttribute("data-theme", theme);
    </script>
  </head>
  <body>
    <slot/>
    <Footer/>
  </body>
</html>
