---
import Footer from "./footer.astro";
import { execSync } from "node:child_process";

const { title } = Astro.props;
const commit = execSync("git rev-parse --short HEAD").toString().trim();
const datetime = new Date().toISOString();
---
<!DOCTYPE html>
<html lang="en">
  <head prefix="dcterms: http://purl.org/dc/terms/#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="version" content={commit}>
    <meta name="dcterms.modified" content={datetime}>
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
    <link rel="preload" href={Astro.site.href + "cidr.trsp.300x176.png"} as="image">
    <link rel="stylesheet" href={Astro.resolve("../styles/styles.css")} />
    <script>
      const { theme } = JSON.parse(window.localStorage.getItem("userSettings")) || {};
      theme && document.documentElement.setAttribute("data-theme", theme);
    </script>
  </head>
  <body>
    <slot/>
    <Footer/>
  </body>
</html>
