---
import Footer from "./footer.astro";
import { execSync } from "node:child_process";

const { title } = Astro.props;
const commit = execSync("git rev-parse --short HEAD").toString().trim();
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="version" content={commit}>
    <title>{title}</title>
    <style global lang="scss">
      @import "../styles/base";
      @import "../styles/theme";
      @import "../styles/loader";
      @import "../styles/hole-highlighting";
      @import "../styles/overlay-buttons";
      @import "../styles/tooltips";
    </style>
    <script>
      const { theme } = JSON.parse(window.localStorage.getItem("userSettings")) || {};
      theme && document.documentElement.setAttribute("data-theme", theme);
    </script>
  </head>
  <body>
    <slot/>
    <Footer/>
  </body>
</html>
