---
import Footer from "./footer.astro";
import { execSync } from "child_process";

import "../styles/styles.scss";

const { title, bodyClass } = Astro.props.content || Astro.props;
const commit = execSync("git rev-parse --short HEAD").toString().trim();
const datetime = new Date().toISOString();
---

<!doctype html>
<html lang="en">
  <head prefix="dcterms: http://purl.org/dc/terms/#">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="version" content={commit} />
    <meta name="dcterms.modified" content={datetime} />
    <meta
      name="description"
      content="The Pianolatron application provides interactive engagement with the Stanford Piano Rolls collection."
    />
    <title>{title}</title>
    <script>
      const { theme } =
        JSON.parse(window.localStorage.getItem("userSettings")) || {};
      theme && document.documentElement.setAttribute("data-theme", theme);
    </script>
    <link rel="preload" href="/cidr.trsp.300x176.png" as="image" />
  </head>
  <body class={bodyClass}>
    <slot />
    <Footer />
  </body>
</html>
