<style>
  footer {
    overflow-x: hidden;
  }
</style>

<footer>
  <a
    href="http://cidr.stanford.edu/"
    title="Center for Interdisciplinary Digital Research @ Stanford Libraries"
  >
    <img
      src={Astro.site.href + "cidr_i.8x25.png"}
      height="25"
      width="8"
      alt="CIDR logo"
    />
     Powered by CIDR
  </a>

  <a href="/about/">About<img src={"/leader.svg"} height="25" alt="About" /></a>
</footer>
