<body>
  <slot />
</body>

<style>
  body {
    background: url('https://s3-alpha-sig.figma.com/img/1ca9/b6d7/2eee296e7bd88c56853cb4add3f8b1a1?Expires=1696809600&Signature=Ma6wvfiBfIJb6qsrJ0DjvSdxINCyyltlmZq8BQdOZwUMqjAExbcTzPF6Y5bYckvbOYizrFVQm6sogtWPTTB7Muh3UNqL9VYwCygr4VcPq8fM0tsUFg7pvdIqxxmrDXYXN1sL-F08XX6w7WKZ9CoX6fQUXXoBpukTsgdjr3UQodI4-4teZD0IF5kYYzG7yQ9Hhfqb1s0hJosDRF~zNHCxCg0vGPjpIqraKqu84NilnycClefjX-qhYYvidZeK5lOTJnhdaOJyqJq-r4um4aFNpQYgJUEEAcXu-NEREEQutFWj1bd98EIBQ1bD0m0neBxKTZMFKfrVhSt8xxwP5jpjUA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    margin: 0;
    padding: 0;
  }
</style>
