---
import StanfordHeader from "./stanfordHeader.astro";
import DocNav from "../pages/docNav.astro";
import StanfordFooter from "./stanfordFooter.astro";
import StanfordSubheader from "./stanfordSubheader.astro";
import SkipLink from "../ui-components/SkipLink.svelte";
import { execSync } from "node:child_process";

import "../styles/markdown-styles.scss";

const { title } = Astro.props.content || Astro.props;
const commit = execSync("git rev-parse --short HEAD").toString().trim();
const datetime = new Date().toISOString();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="version" content={commit} />
    <meta name="dcterms.modified" content={datetime} />
    <meta
      name="description"
      content="The Pianolatron application provides interactive engagement with the Stanford Piano Rolls collection."
    />
    <title>{title}</title>
  </head>

  <body>
    <SkipLink />
    <StanfordHeader />
    <StanfordSubheader />
    <DocNav />
    <main id="content">
      <slot />
    </main>
    <StanfordFooter />
  </body>
</html>

<style>
  main {
    color: var(--black);
    font-family: "Source Sans Pro", sans-serif;
    margin: 0 auto;
    max-width: 80%;
    min-height: calc(100vh - 90px - 69px - 193px);
    padding: 1em 1em;
    position: relative;
    scroll-margin-top: 48px; /* height of the DocNav component*/
  }

  main :global(a) {
    color: var(--primary-accent);
  }

  main :global(img) {
    border-radius: 5px;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }
</style>
