---
import StanfordHeader from "./stanfordHeader.astro";
import DocNav from "../pages/docNav.astro";
import StanfordFooter from "./stanfordFooter.astro";
import StanfordSubheader from "./stanfordSubheader.astro";
import SkipLink from "../ui-components/SkipLink.svelte";
import BaseLayout from "./base.astro";

import "../styles/markdown-styles.scss";
---

<BaseLayout title="Pianolatron Search">
  <SkipLink />
  <StanfordHeader />
  <StanfordSubheader />
  <DocNav />
  <main id="content">
    <slot />
  </main>
  <StanfordFooter />
</BaseLayout>

<style>
  main {
    color: var(--black);
    font-family: "Source Sans Pro", sans-serif;
    margin: 0 auto;
    max-width: 80%;
    min-height: calc(100vh - 90px - 69px - 193px);
    padding: 1em 1em;
    position: relative;
    scroll-margin-top: 48px; /* height of the DocNav component*/
  }

  main :global(a) {
    color: var(--primary-accent);
  }

  main :global(img) {
    border-radius: 5px;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
  }
</style>
