<div class="subheader">
  <span class="background-container"></span>
  <span class="background-container-gradient"></span>
  <div class="subheader-container">
    <div class="subheader-title">
      <h1 class="subheader-title">
        Stanford University Piano Roll Archive
        <small class="subheader-subtitle">SUPRA</small>
      </h1>
    </div>
  </div>
  <div class="site-navbar">
    <div class="navbar-row">
      <ul class="subheader-menu">
        <li class="subheader-menu-item">
          <a href="/homepage/" class="subheader-menu-item">HOME</a>
        </li>
        <li class="subheader-menu-item">
          <a
            href="https://exhibits.stanford.edu/supra"
            class="subheader-menu-item">Roll Archive Features</a
          >
        </li>
        <li class="subheader-menu-item">
          <a href="/search/" class="subheader-menu-item">Browse</a>
        </li>
        <li class="subheader-menu-item">
          <a href="/about/" class="subheader-menu-item">About</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<style>
  .subheader {
    background-color: #2e2d29;
    border-bottom: 1px solid #dee2e6;
    position: relative;
    display: block;
  }
  .background-container {
    background: url("/header_bg.jpg");
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-right: 1px solid #2e2d29;
    filter: blur(1px);
    margin-left: -1px;
    margin-top: -1px;
    overflow: hidden;
  }
  .background-container-gradient {
    position: absolute;
    left: 0;
    right: 0;
    display: block;
    width: auto;
    height: 100%;
    background: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.5)
    );
  }
  .subheader-container {
    background-color: #2e2d29;
    display: block;
    margin: 0 auto;
    max-width: 1140px;
    height: inherit;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-height: 8rem;
  }
  .subheader-title {
    display: inline-grid;
    color: white;
    text-shadow: 1px 1px 0 #212529;
    font-family: SourceSans3, sans-serif;
    font-weight: 400;
    font-size: 2.125rem;
    margin-top: 0.65rem;
    z-index: 1;
    padding-bottom: 1rem;
  }
  .subheader-title small {
    color: white;
    font-size: 1.5rem;
  }
  .site-navbar {
    position: relative;
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.25);
  }
  .navbar-row {
    margin: 0 auto;
    max-width: 1140px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .subheader-menu {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    padding: 0;
    margin: 0.5rem 0 0.6rem 0;
  }
  .subheader-menu-item {
    color: #dbdbdb;
    font-family: SourceSans3, sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.1px;
  }
  .subheader-menu-item:hover {
    text-decoration: underline;
  }
</style>
