<div class="su-brand-bar">
  <div class="su-brand-bar__container">
    <a class="su-brand-bar__logo" href="https://stanford.edu">
      Stanford University
      <span class="su-brand-bar__link--a11y"> (link is external)</span>
    </a>
  </div>
</div>

<style>
  .su-brand-bar {
    background-color: var(--cardinal-red);
    height: 35px;
    width: 100%;
  }
  .su-brand-bar__container {
    margin: 0 auto;
    max-width: 1140px;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 0 0 1.5rem;
  }
  .su-brand-bar__logo {
    font-family: Stanford, SourceSerif4, serif;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    letter-spacing: 0;
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    white-space: nowrap;
    color: var(--white);
    font-size: 20px;
  }
  .su-brand-bar__link--a11y {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
