<div class="subheader">
  <div class="subheader-container">
    <ul class="subheader-menu">
      <li><a href="https://exhibits.stanford.edu/supra" class="subheader-menu-item">Home</a></li>
      <li><a href="" class="subheader-menu-item">Roll Archive Features</a></li>
      <li><a href="https://exhibits.stanford.edu/supra/browse" class="subheader-menu-item">Browse</a></li>
      <li><a href="https://exhibits.stanford.edu/supra/about/about-the-stanford-university-piano-roll-archive" class="subheader-menu-item">About</a></li>
    </ul>
    <h1 class="subheader-title">Stanford University Piano Rolls Archive</h1>
  </div>
</div>

<style>
  .subheader {
    background: url(https://exhibits.stanford.edu/images/5262/14,130,584,58/1800,180/0/default.jpg);
    height: 60px;
    width: 100%;
  }
  .subheader-container {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      padding: 0.5rem 0;
      width: 80%;

      .subheader-menu {
        display: flex;
        gap: 1.25rem;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0.5 0 0;

        .subheader-menu-item {
          color: white;
          text-decoration: none;
        }
        .subheader-menu-item:hover {
          text-decoration: underline;
        }
      }

      .subheader-title {
        color: white;
        font-family: SourceSans3, sans-serif;
        font-weight: 400;
      }
    }
</style>
