<nav
  class="navbar navbar-expand-md navbar-dark bg-dark topbar"
  role="navigation"
  aria-label="Stanford University"
>
  <div class="container">
    <a class="mb-0 navbar-brand navbar-logo" href="/"
      >Stanford University Piano Roll Archive</a
    >
  </div>
</nav>

<style>
  .topbar {
    background-color: var(--cardinal-red);
    height: 35px;
    width: 100%;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 1140px;
    height: 35px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .topbar .navbar-brand {
    background: transparent
      url(https://exhibits.stanford.edu/assets/StanfordLibraries-logo-whitetext-b8ed4a7bafd7eed5b09f6aa8819959340afd9d4c976fe311f7a1a95bf69eff89.svg)
      no-repeat center left;
    background-size: contain;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    height: 35px;
    margin: 0;
    padding: 0.5rem;
    width: 189px;
  }
</style>
