.overlay-buttons {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 8px;
  position: absolute;
  z-index: 7;
}
.overlay-buttons button {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  margin: 0;
  padding: 0.35em 0.8em;
  transition: all 0.2s;
}
.overlay-buttons button:focus, .overlay-buttons button:active {
  outline: 0;
}
.overlay-buttons button:hover {
  outline: 1px solid white;
}
.overlay-buttons button:active {
  color: grey;
}
.overlay-buttons button:disabled {
  color: grey;
  cursor: not-allowed;
}
.overlay-buttons.top-center {
  left: 50%;
  top: 8px;
  transform: translateX(-50%);
}
.overlay-buttons.middle-right {
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
.overlay-buttons.middle-right button {
  padding: 0.8em 0.35em;
}